<div style="padding: 20px 20px 20px 20px">
  <mat-form-field>
    <mat-select placeholder="Leagues" (selectionChange)="processSelectLeague($event)">
      <mat-option *ngFor="let item of items" [value]="item.LeagueId">
        {{item.Name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div *ngIf="selectedLeague">       
      <ul>"Liga: " {{selectedLeague.Name}}</ul>
      <ul>"Fecha de fundación: " {{selectedLeague.FoundationDate | date:mediumDate}}</ul>
      <ul>"Organizador: " {{selectedLeague.Organizer}}</ul>
</div>
<!-- Team display -->
<div style="padding: 20px 20px 20px 20px" *ngIf="teams">
  <mat-form-field>
    <mat-select placeholder="Teams" (selectionChange)="processSelectTeam($event)">
      <mat-option *ngFor="let item of teams" [value]="item.TeamId">
        {{item.Name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div *ngIf="selectedTeam">       
      <ul>"Nombre: " {{selectedTeam.Name}}</ul>
      <ul>"Estadio: " {{selectedTeam.Stadium}}</ul>
</div>
